@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   
}



:root {
    --primary-text-color: #a14930;
    --secondary-text-color: #a05c49;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* Utility class */

.container {
    max-width: 1180px;
    overflow: hidden;
    margin-inline: auto;
}

.flex {
    display: flex;
}


/* Login Signup */

.Login-main-container {
    justify-content: center;
    background-color: #cbe7ea;
    height: 80vh;
    margin-top: 70px;
    border-radius: 6px;
}



.login-main-content {
    width: 50%;
}


form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form button {
    width: 100%;
    margin-block: 10px;
}


.login-input-field input {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    width: 100%;
    border: 0px;
    margin-block: 10px;
    padding: 8px;
}

.login-input-field input:focus {
    border: 2px solid #a1b3b6;
    outline: none;
    /* box-shadow: 0px 0px 8px #5c5cff; */
}

.img-div {
    width: 50%;
}

img {
    width: 85 0px;
    height: 600px;
}


.form-box {
    align-items: center;
    width: 50%;
}

form h3 {
    text-align: center;
}

form p {
    margin-bottom: 25px;
    color: #0d5c67;
}

.remember-me {
    gap: 5px;
    margin-bottom: 15px;
}

form label {
    color: #0d5c67;
    font-size: small;
}

.google-btn {
    justify-content: center;
    gap: 3px;
}

.signup-opt {
    text-align: center;
    justify-content: center;
    gap: 4px;
}

.signup-opt h5 {
    font-weight: lighter;
}

.signup-opt a {
    color: var(--primary-text-color);
    font-size: small;
}


/*  */
/*  */
/*  */
/*  */
/* For mobile viewers */
@media screen and (width<479px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        max-width: 100%;
    }

    .Login-main-container {
        flex-direction: column;
    }

    form .form-box {
        width: 100%;
    }

    .login-main-content {
        width: 80%;
    }

}