@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
.Response h1{
    font-family: 'Lato', sans-serif;
}
.Response{
    text-align: center;
    margin-top: 60px;
}
.Response h4{
    font-family: 'Lato', sans-serif;
}
.Response input{
    width: 40%;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;
}
.username_response{
    border-radius: 10px;
    padding: 10px;
    margin-left: 15px;
}
.display_responses{
    width: 75%;
    background-color: antiquewhite;
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.Questions{
    margin-left: 20px;
    margin-top: 2px;
}
.Answer{
    width: 25%;
    margin-top: 2px;
    text-align: center;
    background-color: rgb(243, 209, 176);
    border-radius: 5px;
}